<!DOCTYPE html>
<html>
<head>
	<title>PESQUISA</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark " style="margin-bottom: 2%">
		<a class="navbar-brand" href="#">IMAGEM</a>
		<img src="https://web.whatsapp.com/736d2129-491a-4e60-aabf-0c0132425027	">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>

				
			</ul>

			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search">
				<button class="btn btn-light my-sm-0" type="submit"><i class="fas fa-search"></i></button>
			</form>

		</div>
	</nav>





<div class="udemy-course" >
<div class="row">
		
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" >
				<div class="card" style="border-radius: 25px ">
				  <a href="#"><img class="card-img-top" src="https://scontent.fmvf1-1.fna.fbcdn.net/v/t1.0-9/15094930_757445651060336_2561480630662082978_n.jpg?_nc_cat=106&_nc_oc=AQkS1E2z1642cIDG3CEAT-ltmPriGuJ13lMSZ0ABRz4dd7kpm7wqac2e3Aso_4-tg-A&_nc_ht=scontent.fmvf1-1.fna&oh=7f40a129805f11e84240e37dfd8f0c18&oe=5E0119BC"  height="250px;" style="border-radius: 25px "></a>
				  <div class="card-body">
				    <a href="#" class="titulo"><h5 class="card-title "> NOME </h5></a>
				    <p class="card-text"> ALGO </p>
				  
				  <ul class="list-group list-group-flush">

				    <li class="list-group-item">
				    	
				    	
				 

				    	<span style="font-size: 18px; font-weight: bold">R$  </span></li>
				    	
				    			
				  </ul>
					  	
				  </div>
				</div>
				<br>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" >
				<div class="card" style="border-radius: 25px ">
				  <a href="#"><img class="card-img-top" src="https://scontent.fmvf1-1.fna.fbcdn.net/v/t1.0-9/15094930_757445651060336_2561480630662082978_n.jpg?_nc_cat=106&_nc_oc=AQkS1E2z1642cIDG3CEAT-ltmPriGuJ13lMSZ0ABRz4dd7kpm7wqac2e3Aso_4-tg-A&_nc_ht=scontent.fmvf1-1.fna&oh=7f40a129805f11e84240e37dfd8f0c18&oe=5E0119BC"  height="250px;" style="border-radius: 25px "></a>
				  <div class="card-body">
				    <a href="#" class="titulo"><h5 class="card-title "> NOME </h5></a>
				    <p class="card-text"> ALGO </p>
				  
				  <ul class="list-group list-group-flush">

				    <li class="list-group-item">
				    	
				    	
				 

				    	<span style="font-size: 18px; font-weight: bold">R$  </span></li>
				    	
				    			
				  </ul>
					  	
				  </div>
				</div>
				<br>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" >
				<div class="card" style="border-radius: 25px ">
				  <a href="#"><img class="card-img-top" src="https://scontent.fmvf1-1.fna.fbcdn.net/v/t1.0-9/15094930_757445651060336_2561480630662082978_n.jpg?_nc_cat=106&_nc_oc=AQkS1E2z1642cIDG3CEAT-ltmPriGuJ13lMSZ0ABRz4dd7kpm7wqac2e3Aso_4-tg-A&_nc_ht=scontent.fmvf1-1.fna&oh=7f40a129805f11e84240e37dfd8f0c18&oe=5E0119BC"  height="250px;" style="border-radius: 25px "></a>
				  <div class="card-body">
				    <a href="#" class="titulo"><h5 class="card-title "> NOME </h5></a>
				    <p class="card-text"> ALGO </p>
				  
				  <ul class="list-group list-group-flush">

				    <li class="list-group-item">
				    	
				    	
				 

				    	<span style="font-size: 18px; font-weight: bold">R$  </span></li>
				    	
				    			
				  </ul>
					  	
				  </div>
				</div>
				<br>
			</div>

	</div>

	
</div>


</body>
</html>


